/* Base Styles */
.calendar-reminder .calendar-reminder-button {
  box-sizing: border-box;
  border: 1px solid #2d2d2d;
  border-radius: 0;
  background-image: none;
  color: #2d2d2d;
  cursor: pointer;
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  -webkit-appearance: button;
  appearance: button;
  transition: background-color 0.5s;
}

.calendar-reminder .calendar-reminder-dropdown {
  display: inline-block;
  position: relative;
}

.calendar-reminder .calendar-reminder-button:hover {
  background-color:#fcfcfc;
}

.calendar-reminder .calendar-reminder-button:focus {
  outline: 2px solid #4c8bf5;
}

.calendar-reminder .calendar-reminder-dropdown__menu {
  display: none;
  max-width: 100%;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 5;
  background-color: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
}

.calendar-reminder .calendar-reminder-dropdown__menu a {
  display: block;
  text-decoration: none;
  border: 0;
  padding: 10px 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #3182ce;
}

.calendar-reminder .calendar-reminder-dropdown__menu a:hover,
.calendar-reminder .calendar-reminder-dropdown__menu a:focus {
  background-color:  #ebf8ff;
}
