{#
/**
 * @file
 * Default template for displaying a calendar reminder button.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 *   - DO NOT REMOVE - Required by layout builder
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *   - DO NOT REMOVE - Required by layout builder
 * - button_text: The button text.
 *
 * @see template_preprocess_block()
 */
#}

<div{{ attributes.addClass(["calendar-reminder"]) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}

  <div class="calendar-reminder-dropdown">
    <button class="button calendar-reminder-button"
      type="button"
      id="calendarReminderButton{{ unique_id }}"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false">
        {{ button_text }}
    </button>
    <div class="calendar-reminder-dropdown__menu" aria-labelled-by="calendarReminderButton{{ unique_id }}">
      {% if gcal_link %}
        <a href="{{ gcal_link }}" target="_blank" rel="nofollow noopener noreferrer">{{ "Google"|t }}</a>
      {% endif %}

      {% if ical_link %}
        <a href="{{ ical_link }}" download="{{ event_title }}" target="_blank" rel="nofollow noopener noreferrer">{{ "Apple"|t }}</a>
        <a href="{{ ical_link }}" download="{{ event_title }}" target="_blank" rel="nofollow noopener noreferrer">{{ "Outlook"|t }}</a>
      {% endif %}
    </div>
  </div>
</div>